<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.noteverso.core.dao.NoteRelationMapper">
    <insert id="batchInsert">
        INSERT INTO noteverso_note_map (note_id, linked_note_id, added_at, updated_at, view_style, creator, updater)
        VALUES
            <foreach collection="noteRelations" item="noteRelation" separator=",">
                (#{noteRelation.noteId}, #{noteRelation.linkedNoteId}, #{noteRelation.addedAt}, #{noteRelation.updatedAt},
                #{noteRelation.viewStyle}, #{noteRelation.creator}, #{noteRelation.updater})
            </foreach>
    </insert>

    <select id="getReferencingNoteCountByReferencingIds" resultType="com.noteverso.core.model.dto.ReferencingNoteCount">
        SELECT note_id AS referencing_note_id, COUNT(*) AS referencing_note_count FROM noteverso_note_map
        WHERE note_id IN
            <foreach collection="referencingNoteIds" item="referencingNoteId" open="(" close=")" separator=",">
                #{referencingNoteId}
            </foreach>
        AND creator = #{userId}
        GROUP BY note_id;
    </select>

    <select id="getReferencedNoteCountByReferencedIds" resultType="com.noteverso.core.model.dto.ReferencedNoteCount">
        SELECT linked_note_id AS referenced_note_id, COUNT(*) AS referenced_note_count FROM noteverso_note_map
        WHERE linked_note_id IN
            <foreach collection="referencedNoteIds" item="referencedNoteId" open="(" close=")" separator=",">
                #{referencedNoteId}
            </foreach>
        AND creator = #{userId}
        GROUP BY linked_note_id;
    </select>
</mapper>
