<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.noteverso.core.dao.LabelMapper">
    <select id="getLabels" resultType="com.noteverso.core.model.Label">
        SELECT name, label_id FROM noteverso_label
        WHERE creator = #{userId}
        <if test="request.name">
            AND LOWER(name) LIKE LOWER(CONCAT('%', TRIM('${request.name}'), '%'))
        </if>

        <if test="request.labelId">
            AND label_id = #{request.labelId}
        </if>
        ORDER BY added_at DESC
    </select>
</mapper>