<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.noteverso.core.dao.NoteLabelRelationMapper">
    <insert id="batchInsert">
        INSERT INTO noteverso_note_label_map (note_id, label_id, added_at, updated_at, creator, updater)
        VALUES
        <foreach collection="noteLabelRelations" item="noteLabelRelation" separator=",">
            (#{noteLabelRelation.noteId}, #{noteLabelRelation.labelId}, #{noteLabelRelation.addedAt}, #{noteLabelRelation.updatedAt},
            #{noteLabelRelation.creator}, #{noteLabelRelation.updater})
        </foreach>
    </insert>

    <select id="getNoteCountByLabels" resultType="com.noteverso.core.dto.NoteCountForLabel">
        SELECT label_id, COUNT(*) AS note_count FROM noteverso_note_label_map
        WHERE creator = #{userId} AND
            <foreach collection="labelIds" item="labelId" open="(" close=")" separator=",">
                label_id = #{labelId}
            </foreach>
        GROUP BY label_id;
    </select>
</mapper>
