/* Reset some default styles and provide a clean slate */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Prevent font size inflation */
html {
  text-size-adjust: none;
}

/* Apply a simple, elegant font to the entire page */
body {
  font-family: 'Arial', sans-serif;
  line-height: 1.5;
  overscroll-behavior: none;
}

/* Add a subtle background color */
body,
html,
#noteverso-app {
  height: 100%;
}

:where(h1) {
  font-size: 2em;
  margin-bottom: 0.67em;
}

:where(p + p) {
  margin-bottom: 1rem;
}

/* Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Remove build-in form typography styles */
input,
button,
textarea,
select {
  font-size: inherit;
  font-family: inherit;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Select shorter line height on headings and interactive elements */
h1,
h2,
h3,
h4,
h5,
h6,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* Remove list styles */
ul,
ol {
  list-style: none;
}

mark {
  background-color: #faf594;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  padding-left: .25rem;
  padding-right: .25rem;
  border-radius: .375rem;
  font-size: .9rem
}

/* Reset prismjs `pre` element styles with tailwindcss */
pre[class*="language-"] {
  font-size: 0.875em;
  line-height: 1.7142857;
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 0.375rem;
  padding-top: 0.8571429em;
  padding-right: 1.1428571em;
  padding-bottom: 0.8571429em;
  padding-left: 1.1428571em;
}

:root {
  --scrollbar-thumb-idle: #c1c1c1;
  --scrollbar-thumb-hover: #848484;
  --scrollbar-thumb-track: #fafafa
}

html[data-platform=windows] * {
  scrollbar-color: var(--scrollbar-thumb-idle) var(--scrollbar-thumb-track);
  scrollbar-width: thin
}

html[data-platform=windows] ::-webkit-scrollbar {
  width: 11px
}

html[data-platform=windows] ::-webkit-scrollbar-track {
  background: var(--scrollbar-thumb-track)
}

html[data-platform=windows] ::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-idle);
  border: 2px solid var(--scrollbar-thumb-track);
  border-radius: var(--reactist-border-radius-large)
}

html[data-platform=windows] ::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-hover)
}
