:root {
  --global-color-back-01: rgba(0,0,0,0.02);
  --global-color-back-02: rgba(0,0,0,0.05);
  --global-color-back-03: rgba(0,0,0,0.08);
  --global-color-back-04: rgba(0,0,0,0.14);
  --global-color-back-05: rgba(0,0,0,0.24);
  --global-color-back-06: rgba(0,0,0,0.45);
  --global-color-back-07: rgba(0,0,0,0.66);
  --global-color-back-08: rgba(0,0,0,0.88);
  --global-color-back-09: rgba(0,0,0,0.90);
  --global-color-gray-01: #fafafa;
  --global-color-gray-02: #f2f2f2;
  --global-color-gray-03: #ebebeb;
  --global-color-gray-04: #dedede;
  --global-color-gray-05: #c2c2c2;
  --global-color-gray-06: #999;
  --global-color-gray-07: #575757;
  --global-color-gray-08: #1f1f1f;
  --global-color-red-01: #fdf4f3;
  --global-color-red-02: #fbe3e0;
  --global-color-red-03: #ee5244;
  --global-color-red-04: #e44232;
  --global-color-red-06: #d1453b;
  --global-color-blue-01: #f1f7fe;
  --global-color-blue-02: #e2f0ff;
  --global-color-blue-03: #3879fa;
  --global-color-blue-04: #316fea;
  --global-color-blue-06: #2064ca;
  --global-color-beige-01: #fcf8f3;
  --global-color-beige-02: #efebe6;
  --global-color-beige-03: #eae5de;
  --global-color-green-01: #f6f9f7;
  --global-color-green-02: #d2e0da;
  --global-color-green-03: #c7d4cf;
  --global-color-green-04: #6b8767;
  --global-color-green-05: #509247;
  --global-color-gold-01: #faf6eb;
  --global-color-gold-02: #efe0b9;
  --global-color-gold-03: #e3cf91;
  --global-color-gold-04: #f7b84f;
  --global-color-yellow-03: #fffcf0;
  --global-color-yellow-04: #ffd669;
  --global-color-base-white: #f0f0f0;
  --global-color-base-black: #000;
  --global-color-td-primary: #e44232;
  --global-color-td-secondary-dark: #fae8d6;
  --global-color-td-secondary-light: #fff9f3;
  --global-color-td-cta-active: #d1453b;
  --global-color-td-cta-hover: #ee5244;
  --global-color-tw-primary: #316fea;
  --global-color-tw-secondary-dark: #dce7e4;
  --global-color-tw-secondary-light: #f6f9f8;
  --global-color-tw-cta-active: #2a61cf;
  --global-color-tw-cta-hover: #3879fa;
  --global-color-dst-primary: #438952;
  --global-color-dst-secondary-dark: #f3ecd1;
  --global-color-dst-secondary-light: #fefbf1;
  --global-color-dst-cta-active: #4f7d54;
  --global-color-dst-cta-hover: #539359;
  --global-color-perceptional-green: #6b8767;
  --global-color-perceptional-yellow: #ffc93e;
  --global-color-perceptional-pink: #ffada4;
  --global-main-color: #333;
  --global-highlight: #008078;
  --global-highlight-1: #e8f7f6;
  --global-highlight-2: #004d48;
  --global-radius-sm: 2.5px;
  --global-radius-md: 4px;
  --global-radius-lg: 8px;
  --global-radius-xl: 16px;
  --global-radius-xl: 20px;
  --global-space-2: 0.2rem;
  --global-space-4: 0.4rem;
  --global-space-8: 0.8rem;
  --global-space-10: 1.0rem;
  --global-space-12: 1.2rem;
  --global-space-16: 1.6rem;
  --global-space-20: 2.0rem;
  --global-space-24: 2.4rem;
  --global-space-32: 3.2rem;
  --global-space-48: 4.0rem;
  --global-space-64: 4.5rem;
  --global-space-96: 9.6rem;
  --global-space-128: 12.8rem;
  --global-negative-space-15: -1.5rem;
  --global-negative-space-25: -2.5rem;
  --global-negative-space-35: -3.5rem;
  --global-negative-space-45: -4.5rem;
  --global-heading-sm-font-size: 1.2rem;
  --global-heading-md-font-size: 1.7rem;
  --global-heading-lg-font-size: 2.1rem;
  --global-heading-xl-font-size: 2.7rem;
  --global-heading-2xl-font-size: 3.15rem;
  --global-heading-3xl-font-size: 3.42rem;
  --global-heading-4xl-font-size: 4.60rem;
}
