.home-container {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
}

.home-section {
  --padding-left: var(--space-8);
  --padding-right: var(--space-8);
  --flex-direction: column;
  --justify-content: center;
  --text-align: center;

  display: flex;
  justify-content: var(--justify-content);
  flex-direction: var(--flex-direction);
  text-align: var(--text-align);
  padding-top: var(--space-48);
  padding-bottom: var(--space-48);
  padding-left: var(--padding-left);
  padding-right: var(--padding-right);

  @media (min-width: 320px) {
    --padding-left: var(--space-16);
    --padding-right: var(--space-16);
  }

  @media (min-width: 375px) {
    --padding-left: var(--space-32);
    --padding-right: var(--space-32);
  }

  @media (min-width: 768px) {
    --flex-direction: row;
    --justify-content: space-between;
    --padding-left: var(--space-48);
    --padding-right: var(--space-48);
    --text-align: left;

    align-items: center;
  }

  &--reverse {
    @media (min-width: 768px) {
      --flex-direction: row-reverse;
    }
  }

  &--hero {
    @media (min-width: 768px) {
      --flex-direction: column;
      --text-align: center
    }
  }
}


.home-heading-primary {
  margin-bottom: var(--space-12);
  font-size: var(--heading-2xl-font-size);
  line-height: 1.2;
  letter-spacing: 2px;
}

.home-heading-secondary {
  margin-bottom: var(--space-12);
  font-size: var(--heading-lg-font-size);
}

.home-description {
  font-size: 1.7rem;
  margin-bottom: var(--space-32);
}

.home-wrapper-hero {
  --mb: 0;

  position: relative;
  margin-bottom: var(--mb);

  @media (min-width: 540px) {
    --mb: var(--negative-space-15);
  }

  @media (min-width: 648px) {
    --mb: var(--negative-space-25);
  }

  @media (min-width: 848px) {
    --mb: var(--negative-space-35);
  }

  @media (min-width: 1120px) {
    --mb: var(--negative-space-45);
  }
}
