<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.noteverso.attachment.dao.AttachmentMapper">
    <insert id="batchInsert">
        INSERT INTO noteverso_attachment
        (name, type, url, resource_type, note_id, project_id, comment_id, creator, updater, added_at, updated_at)
        VALUES
        (#{name}, #{type}, #{url}, #{resourceType}, #{noteId}, #{projectId}, #{commentId}, #{creator}, #{updater}, #{addedAt}, #{updatedAt})
    </insert>
</mapper>
